/*remove inherent coding*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*roots*/
  :root {
    --orange:#ff8d0a;
    
    --darkorange:#e05e00;
    } 

/* general*/
body {
    font-family: 'Open Sans', 'Gill Sans', sans-serif;
    line-height: 1.3;
}
h1 {
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--orange);
    font-size: 44px;
}
h2 {
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--orange);
    font-size: 40px;
    font-weight: 400;
}
h3 {
    font-family: 'Open Sans', 'Gill Sans', sans-serif;
    font-size: 24px;
}
h4 {
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--orange);
    font-size: 16px;
    font-weight: 400;
}
.center {
    padding:0 20px;
}

/*Header*/
header {
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color:whitesmoke;
}

header h2 {
  color: var(--orange);
  margin: 0;
}

header a{
    text-decoration: none;
    color: black;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    margin: 0 14px;
    padding:5px 10px;
    font-size: 18px;
    border: 2px solid whitesmoke;
    border-radius:20px;
    display: inline;
}

header nav ul li:hover{
    background-color: var(--orange);
    border: 2px solid var(--orange);

  }
/*end header*/

/* Hero Style Start */
.hero {
    background-image: url('../assets/images/header-bg.jpg');
    background-size: cover;
    background-position: top;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 250px;
    margin-bottom: 30px;
  }

  .hero-box {
    text-align:right;
    margin: 100px 0 0 0;
    padding: 0 5% 0 0;
    background-color: rgba(300, 300, 300, .5);
    border-left:  var(--orange) 10px solid;
    font-family: 'Open Sans', 'Gill Sans', sans-serif;
    display: flex;
  }

  .hero-box .inner {
      display:inline;
      margin:auto;
      padding:10px 10px 5px 10px;
  }

/*hero style end*/

/*main body start*/

/*About*/
section {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}
.side-header {     
    padding-right: 10px;
    flex:1;
    text-align:center;
}
.content {
    border-left: var(--orange) 2px solid;
    padding: 10px 20px;
    flex: 3;
}

/*Works*/
.works-grid-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
  }
  
  .works-grid-item {
    padding: 1em;
    color: black;
    display: flex;
    opacity: 1;
  }

  .works-grid-item:hover{
    opacity: .8;
  }
  .works-grid-container .works-grid-item .secondary h3{
      font-size: 14px;
  }

  .mainbox {
    grid-column: 1/3; 
    grid-row: 1/3; 
    background-image: url('../assets/images/Horiseon.png');
    background-size: cover;
    background-position: top;
  }

  .box2 {
    background-image: url('../assets/images/RunBuddy.png');
    background-size: cover;
    background-position: top;
  }

  .box3 {
    background-image: url('../assets/images/CGSDesign.png');
    background-size: cover;
    background-position: top;

  }

  .box4 {
    background-image: url('../assets/images/CGSDesign.png');
    background-size: cover;
    background-position: top;
    
  }

  .box5 {
    background-image: url('../assets/images/CGSDesign.png');
    background-size: cover;
    background-position: top;

  }

  .works-grid-item .title {
    text-align:right;
    padding: 5px 7px 5px 7px;
    margin:0;
    background-color: rgba(300, 300, 300, .9);
    border-right:  var(--orange) 10px solid;
    max-height: 30px;
  }

  .works-grid-item .title h3{
    font-size:18px;
  }
  
/*Contact start*/
.contact {
    margin: 7px 0;
}

.contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    list-style: none;
}

.contact ul li {
    margin: 0 14px;
    padding:5px 10px;
    font-size: 18px;
    text-decoration:none;
}

.contact ul li h3 a{
    text-decoration:none;
    font-size:16px;
    color: black;
  }
.contact ul li h3 a:hover{
    color: var(--orange);
  }
/*main "computer size" body end*/

/* _______________________mediaqueries by size_________________________ */
@media screen and (max-width: 980px) {
    /*hero*/
    .hero {
        margin-bottom: 10px;
        height: 200px;
    }
    .hero-box {
        margin: 50px 0 0 0;
        padding: 0 15% 0 0;
    }

    .center {
        padding:0px 20px 0 0;
    }

    /*main body*/
    .center {
        padding:0px 20px 0 0;
    }
    .side-header {     
        border-bottom: var(--orange) 2px solid;
        padding-right: 0;
        justify-content: left;
        flex:0 50%;
        text-align:center;
    }
    .content {
        border-left: none;
        padding: 20px;
        flex: 0 90%;
    }
    .side-header {     
        padding-right: 0px;
    }    
    .contact ul {
        justify-content: center;
    }
}

@media screen and (max-width: 575px) {
    header {
        text-align: center;
        justify-content: center;
    }
    header nav ul li{
        padding:0 5px;
        font-size: 12px;
    }
    .center {
        padding:0 0px;
    }
    .works-grid-container {
        max-width: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 100px);
    }
    .mainbox {
        grid-column: 1/3; 
        grid-row: 1/3; 
    }
    .contact ul li h3{
        font-size:14px;
      }
}