/*remove inherent coding*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*roots*/
  :root {
    --orange:#ff8d0a;
    
    --darkorange:#e05e00;
    } 

/* general*/
body {
    font-family: 'Open Sans', 'Gill Sans', sans-serif;
}
h1 h2 {
    font-family: 'Barlow Condensed', sans-serif;
    color:#ff8d0a;
}

/*Header*/

header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color:whitesmoke;
}

header h2 {
  font-size: 36px;
  color: var(--orange);
  margin: 0;
}
header a{
    text-decoration: none;
    color: black;
}
header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    margin: 0 10px;
    padding:5px 10px;
    font-size: 18px;
    border: 2px solid whitesmoke;
    border-radius:20px;
    display: inline;
}

header nav ul li:hover{
    margin: 0 30px;
    background-color: var(--orange);
    border: 2px solid var(--orange);
    border-radius: 20px;
  }
/*end header*/

/* Hero Style Start */
.hero {
    background-image: url('../assets/header-bg.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    min-height: 100px;
  }

  .hero-box {
    text-align:right;
    margin: 60px 0 0;
    padding: 0 5% 0 0;
    background-color: rgba(300, 300, 300, .5);
    border-left: #ff8d0a 10px solid;
    display: flex;

  }
  .hero-box .inner {
      display: inline;
      margin:auto;
      padding:0 10px 0 0;
  }
/*hero style end*/
/*main body start*/

.side-header